<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <div class="container">      
        <div class="card bg-light">
        <article class="card-body col-lg-6 mx-auto">
            <h4 class="card-title mt-3 text-center">Utilisateur</h4>
            <form>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="nom" class="form-control" placeholder="nom" type="text">
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="prenom" class="form-control" placeholder="prenom" type="text">
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" class="form-control" placeholder="Email address" type="email">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input name="tel" class="form-control" placeholder="numéro téléphone" type="text">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-home"></i> </span>
                </div>
                <input name="adresse" class="form-control" placeholder="adresse" type="text">
            </div> 
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="mot de passe" type="password">
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="confirmPass" class="form-control" placeholder="confirmer mot de passe" type="password">
            </div>                                 
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Enregistrer </button>
                <a href="" class="btn btn-warning "> Modifier </a>
                <a href="" class="btn btn-danger "> Supprimer </a>
            </div>                                                                     
        </form>
        </article>
        </div>
        </div> 
    </body>
</html>